/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@media (min-width: 768px) {
  .youtubeVideo {
    width: 900px;
    height: 550px;
  }
}
@media (max-width: 768px) {
  .youtubeVideo {
    width: auto;
    height: auto;
  }
}

body {
  @apply cursor-default
}

.primary-text {
  @apply text-gray-100
}

.tooltip .tooltip-text {
  margin-left: 30px;
  margin-top: 15px;
  visibility: hidden;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
