/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */


body {
  background: #141414;
  background-image: url(/star-background.svg);
  background-attachment: fixed;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

@media (min-width: 768px) {
  .youtubeVideo {
    width: 900px;
    height: 550px;
  }
}
@media (max-width: 768px) {
  .youtubeVideo {
    width: auto;
    height: auto;
  }
}

body {
  @apply cursor-default;
}

button:focus {
  outline:0;
}

.primary-text {
  @apply text-gray-100
}

.tooltip .tooltip-text {
  margin-left: 30px;
  margin-top: 15px;
  display: none;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  display: inherit;
}



@tailwind utilities;
